<footer class="footer">
    <div class="container text-center">
        <p>Made by <a href="https://github.com/shubhr86/" target="_blank">Shubham Kumar</a></p>
        <p>
            <a href="https://www.linkedin.com/in/shubhr86" target="_blank">LinkedIn</a> |
            <a href="https://bit.ly/skConding" target="_blank">Project by Coding Ninja</a>
        </p>
    </div>
</footer>
